.cheffListItem{
    width: 100%;
    padding: 10px 15px 10px 15px;
    position: absolute;
    margin-top: 50px;
    scrollbar-width: thin;
    border-radius: 10px;
}

.cheffListItem::-webkit-scrollbar {
    display: none;
}

.listSections{
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    align-items: center;
    
}
.scrollSection{
    max-height: 715px;
    height: auto;
    overflow-y: scroll !important;
}
.images{
    height: 100px;
    width: 100px;
    margin-left: 10px !important;
    border-radius: 10px;
}
.inputCheck{
}